
<div id="div-login">
  <form role="form">
    <div class="form-group">
      <label for="txtUserName">user name</label>
      <input type="text" id="txtUserName" class="form-control" placeholder="Enter your user name...."/>
      <span id="txtUserNameError"></span>
    </div>
    <div class="form-group">
      <label for="txtPassword">password</label>
      <input type="password" id="txtPassword" class="form-control" placeholder="Enter your password...."/>
      <span id="txtPasswordError"></span>
    </div>
    <div class="form-group">
      <button id="btnLogin" class="btn btn-success btn-block">Login</button>
    </div>
  </form>
  <div id="loginError" class=""></div>
</div>
