
.container {
    min-height: 100vh;
    /*background-image: url('file:///android_asset/www/img/bg-background-1.png');*/
    background-color: white;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    /*appearance: none;*/
    width: 80%;
    height: 4vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 90vh;
}

#div-login {
    margin-top: 30vh;
    /*margin-left: 20%;
  margin-right: 20%;*/
}

.btn-start {
    /*padding-top: 10px;*/
    /*color: #FFC107;*/
    font-size: 14px;
    width: 105px;
    height: 42px;
    font-weight: bold;
    margin-left: 22px;
    margin-right: 22px;
    /*height: 50px;
    width: 36%;*/
}

.btn-stop {
    /*padding-top: 10px;*/
    /*color: #FFC107;*/
    font-size: 14px;
    font-weight: bold;
    margin-right: 22px;
    width: 105px;
    height: 45px;
    /*height: 50px;*/
    /*width: 36%;*/
}

#loginError {
    color: #700;
    background-color: #64B5F6;
}

#floating-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*
#floating-btn:focus {
    outline: none;
}*/

#div-order-btn {
    height: 10vh;
}


/*#orderProductList {
  margin-left: 10px;
  margin-right: 10px;
}*/

/*.customer_dev {
    height: 10vh;
    margin-left: 2%;
}*/

.navbar-top {
    height: 50px;
    padding-top: 5px;
    background-color: #1A237E;
}

h5 {
    color: #FAFAFA;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
}

#disInfoContainer {
    margin-top: 55px;
    margin-bottom: 10px;
    width: 100%;
}

.error {
    color: #700;
}
/*.list {
    max-height: 50vh;
    max-width: 100%;
    overflow: auto;
}*/

#btn-order {
    position: relative fixed;
}
/*.productDetail {
  margin-top: 3vh;
  padding-top: 2vh;
  border: 1px solid blue;
    box-shadow: 10px 10px 3px #424242;
}*/
  .bill-padding {
    padding-left: 5px;
    padding-right: 5px;
  }
.additionDiv {
  padding-top: 1vh;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}
.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.add-top-margin {
  /*margin-top: 10px !important;*/
  padding-top: 5px !important;
}
/* Style for added item for order */
.addedList {
  height: 300px;
  overflow-x: auto;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  background: #26A69A;
}
.addedList> center> h6 {
  padding-top: 5px;
  font-weight: bold;
  font-size: 12px;
  /*color: white;*/
}
.addedList> .addedListUnderLine {
  margin-bottom: 0;
}
#totalItem {
  padding-left: 5%;
  padding-right: 10%;
  width: 35%;
}
#totalAmount {
  width: 35%;
  padding-right: 4%;
}
.test {
  padding-top: 5px;
}

.addedItem {
  /*border: 1px solid blue;*/
  margin: 5px;
}
.itemContainer {
  /*#004D40*/
  background: rgba(0, 0, 0, 0.3);
  padding: 8px;
}
#floating-btn-minus {
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    color: #333;
   /*box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange;
   border: 1px solid orange;*/
}

#floating-btn-minus:focus {
    outline: none;
}
/* styling navigation slide menu */
.page-wrap {
  height: 100vh;
  width: 100%;
}
.toggle {
  position: fixed;
  text-decoration: none;
  font-size: 20px;
  color: white;
  top: 2vh;
  bottom: 0;
  left: 20px;
  z-index: 1;
}
.btn-menu {
  height: 3px;
  width: 25px;
  background: white;
  margin-top: 4px;
}
.slideBar {
  position: fixed;
  min-height: 100vh;
  /*border-right: 1px solid rgba(0,0,0,.6);*/
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.25s ease;
  left: -100%;
  background: rgba(0, 0, 0, .6);
  overflow-x: hidden;
  overflow-y: auto;
  /*box-shadow: 100px 0 5px rgba(0,0,0,0.3);*/
  z-index: 9999;
}
.slideBar:target {
  width: 280px;
}
.slideBar> .menuList> .slideBar-image {
  height: 30vh;
  width: 280px;
  margin-bottom: 5vh;
  background: white;
}
.slideBar> .menuList> .slideBar-image> #logo {
  height: 30vh;
  width: 280px;
}
.slideBar> .menuList {
  min-height: 100vh;
  width: 280px;
  background: white;
}
.slideBar> .menuList> .menuUL {
  color: #333;
  font-size: 12px;
  list-style: none;
  padding-left: 0;
}
.slideBar> .menuList> .menuUL> .menuLI {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  height: 48px;
}
.slideBar> .menuList> .menuUL> .menuLI> img {
  padding-right: 18px;
}
.slideBar> .menuList> .menuUL> hr {
  margin-top: 4px;
  margin-bottom: 4px;
}
.slideBar> .menuList> .menuUL> .active {
  color: white;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  background-color: #0288D1;
}
#sidebar-toggle {
  display: none;
}
  #sidebar-toggle:checked + .page-wrap> .slideBar {
    left: 0;
  }

  /*#sidebar-toggle:checked + .page-wrap> .toggle {
    left: 72%;
  }*/

  /* Style for google map */
  #mapBtn {
    color: #E65100;
  }
  #mapBtn:focus {
    color: #FFA726;
  }
  .google-map {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.25s ease;
  left: 0;
  background: #333;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999;
}
#map {
  height: 90vh;
  width: 90%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5%;
  margin-right: 5%;
}
  /* Google map search box style */
  .mapSearchBox {
    background-color: #309631;
  }
  #address:focus {
    border: 1px solid blue;
  }
  .locationDetail {
    font-size: 12px;
  }
  #floating-panel {
          position: fixed;
          width: 80%;
          top: 15vh;
          /*left: 13%;*/
          z-index: 5;
          background-color: #fff;
          /*padding: 5px;*/
          border: 1px solid #999;
          text-align: center;
          font-family: 'Roboto','sans-serif';
          line-height: 30px;
          margin-left: 10%;
          margin-right: 10%;
        }
      #pac-input:focus {
        border-color: #4d90fe;
      }
      /* For  Calander of planing */
      #calendar {
        height: 100vh;
		    width: 100%;
        margin-top: 13vh;
        background-color: white;
	  }
.fc-prev-button {
  padding-left: 0;
  margin-left: 0;
  width: 30px;
}
.fc-next-button {
  width: 30px;
}
/* For showing div of planning when uer click on date of calender */
.mainPlanning {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 9999;
}
.mainPlanning> .planningContainer {
  background: white;
  height: 90vh;
  width: 90%;
  margin: 5%;
  overflow-x: hidden;
  overflow-y: auto;
}
#closeMain {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  margin-top: 5px;
  /*background: red;*/
}
#planDate {
  margin-top: 5px;
  margin-left: 10px;
}
.planList {
  margin-left: 10px;
  margin-right: 10px;
}
.planHeader {
  height: 40px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  color: white;
  background: blue;
}
.docPlanList {
  margin-bottom: 10px;
}
.send-planning {
  width: 94%;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
/* style for Master Farmer List */
.floating-add {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin-right: 5px;
}
.floating-add:hover {
  /*border: none;*/
  outline: none;
  border: none;
}
.floating-minus {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
.floating-minus:hover {
  outline: none;
  border: none;
}
.send-Master-farmer {
  margin-top: 10px;
}
/* Style for master technican list */
.send-Master-technican {
  margin-top: 10px;
}
/* Style for master cattle farmer list*/
.send-Master-Cattle {
  margin-top: 10px;
}
/* Style for master poultry farmer list */
.send-Master-Poultry {
  margin-top: 10px;
}
/* Style for master doctor list */
.send-Master-Doctor {
  margin-top: 10px;
}
/* Loading symbole */
.loading {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;

  /*position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .3);
  z-index: 99999;*/
}
.loadImage {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 45vh;
  bottom: 45vh;
  left: 40%;
  right: 40%;
  z-index: 999;
}
.loadingText {
  margin-top: 51vh;
  margin-bottom: 49vh;
  margin-left: 40%;
  color: white;
}
/* Reatch style */
.btn-reached {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*style for camera and gallary*/
.camStyle {
  margin-left: 3%;
  color: blue;
  font-size: 30px;
  border: none;
  background: rgba(0, 0, 0, 0.0);
  /*opacity: 0.0;*/
}
.camStyle:hover {
  border: none;
  outline: none;
}
#photo {
  width: 100%;
  height: 30vh;
}
/*ancher tag hover underline remove*/
#mobileNumber {
  overflow: none;
  color: blue;
}
#mobileNumber:hover {
  text-decoration: none;
}
/*Color of address*/
#address {
  color: blue;
}
/*managing padding of list-group-item*/
.list-group-item {
  padding: 5px !important;
  background: rgba(0, 0, 0, .2);
  border: 1px rgba(0, 0, 0, .6);
}
/*Style for view list*/
.img {
  height: 40px;
  width: 40px;
}
.div-img {
  float: left;
  width: 20%;
}
.div-list {
  height: 60px;
  background: white !important;
  border: 1px solid #F5F5F5;
}
.div-detail {
  float: left;
  font-size: 16px;
  font-weight: bold;
  width: 80%;
  height: 50px;
  padding-top: 10px;
}
/*Style for edit*/
.div-photo-edit {
  height: 30vh;
  width: 100%;
  margin-bottom: 20px;
}
.div-def-img {
  float: left;
  width: 50%;
}
.div-def-edit-btn {
  float: left;
  padding-top: 23vh;
  padding-left: 20px;
}
/*style for select option*/
#locationType {
  text-align: center;
  font-weight: bold;
}
/*style for distributor stock detail*/
.div-dist-info {
  text-align: center;
  padding-top: 10vh;
}
/*style for home page*/
.div-todayToDo {
  border: 1px solid #01579B;
}
.today-list-container {
  height: 33vh;
  padding: 3px 3px;
  overflow-y: auto;
  overflow-x: hidden;
}
.div-todayToDoHeading {
  height: 34px;
  width: 100%;
  font-size: 14px;
  padding-top: 8px;
  padding-left: 10px;
  background-color: #01579B;
  color: white;
}

/*Media query for tabletes*/
@media screen and (min-width:501px) and (max-width:999px) {
  /*Style for body*/
  /*Style for navigatio bar*/
  .navbar-top {
    height: 75px;
    padding-top: 18px;
    background-color: #1A237E;
  }
  /*Style for distInfoContainer*/
  #disInfoContainer {
    margin-top: 90px;
    width: 100%;
    font-size: 14px;
}
/*Style for h5 navbar title*/
h5 {
    color: #FAFAFA;
    font-weight: bold;
    font-size: 18px;
    margin-left: 24px;
}
/*Style for menu button*/
.btn-menu {
  height: 4px;
  width: 32px;
  background: white;
  margin-top: 4px;
}

  /*Style for navigation drawer*/
  .slideBar:target {
    width: 90%;
  }
  .slideBar> .menuList> .slideBar-image {
    height: 30vh;
    width: 100%;
    margin-bottom: 15px;
    background: white;
  }
  .slideBar> .menuList> .slideBar-image> #logo {
    height: 30vh;
    width: 100%;
  }
  .slideBar> .menuList {
    min-height: 100vh;
    width: 90%;
    background: white;
  }
  .slideBar> .menuList> .menuUL {
    color: #333;
    font-size: 16px;
    list-style: none;
    padding-left: 0;
  }
  .slideBar> .menuList> .menuUL> .menuLI {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 26px;
    height: 48px;
  }
  .slideBar> .menuList> .menuUL> .menuLI> img {
    padding-right: 22px;
  }
  .slideBar> .menuList> .menuUL> hr {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .slideBar> .menuList> .menuUL> .active {
    color: white;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    background-color: #0288D1;
  }
  /*Style for today to do list*/
  .div-todayToDo {
  border: 1px solid #01579B;
}
.today-list-container {
  height: 50vh;
  padding: 3px 3px;
  overflow-y: auto;
  overflow-x: hidden;
}
.div-todayToDoHeading {
  height: 38px;
  width: 100%;
  font-size: 16px;
  padding-top: 9px;
  padding-left: 15px;
  background-color: #01579B;
  color: white;
}

/* Style for image updater  */
.div-change-image-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 35vh;
}
.div-img-change-opt {
    width: 100%;
    padding-bottom: 10px;
    background: white;
}
.div-img-change-opt-header {
    background: #0D47A1;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    height: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.div-change-image-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 35vh;
}
  .menu-option {
    padding-left: 10px;
    border-bottom: 1px solid #EEEEEE;
    height: 30px;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}
  .div-prev-img {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #757575;
    color: white;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.div-prev-img-header {
    height: 34px;
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}
.img-prev-container {
    height: 85vh;
}
.img-prev {
    height: 100%;
    width: 100%;
}
.img-prev-buttons {
    height: 34;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
}