<!--div that display while user profile image-->
<div class="div-change-image-container">
    <div class="div-img-change-opt">
        <div class="div-img-change-opt-header">
            Update Image
        </div>
        <div class="div-img-change-opt-body">
            <div class="menu-option div-img-change-opt-1">
                <span class="glyphicon glyphicon-camera" style="color: blue; font-size: 16px;"></span>
                &nbsp;&nbsp; Take a Photo
            </div>
            <div class="menu-option div-img-change-opt-2">
                <span class="glyphicon glyphicon-folder-open" style="color: blue; font-size: 16px;"></span>
                &nbsp;&nbsp; Upload a Photo
            </div>
        </div>
    </div>
</div>
<!--Div to show prev of user profile-->
<div class="div-prev-img">
    <div class="div-prev-img-header" style='text-align: center;'>
        Preview
    </div>
    <div class="img-prev-container">
        <img class="img-prev" data="" src="">
    </div>
    <div class="img-prev-buttons">
        <span class="btn-done-upload" style="background: transparent; float: left;">done</span>
        <span class="btn-cancel-upload" style="background:transparent; float: right;">cancel</span>
    </div>
</div>